<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |form| %>

      <%= form.label :email %>
      <%= form.email_field :email, class: 'form-control' %>

      <%= form.label :password %>
      <%= link_to "(forgot_password?)", new_password_reset_path %>
      <%= form.password_field :password, class: 'form-control' %>

      <%= form.submit "Log in", class: "btn btn-primary", id: "login-btn" %>
    <% end %>

    <p>New user? <%= link_to "Sign up!", signup_path %></p>
  </div>
</div>
