%p Collected on: #{soil_sample.collected_on}
%p Plot: #{soil_sample.plot}
%p Collected by: #{soil_sample.user}
%p Collection Method: #{soil_sample.collection_method}
%p pH Level: #{soil_sample.ph_level}
%p Temperature: #{soil_sample.temperature}
%p Moisture: #{soil_sample.moisture}
