- content_for_title('Soil Samples')
- content_for(:subnav) do
  = button_to('Add Sample', new_soil_sample_path, class: 'button primary', title: 'Add a new soil sample', method: 'get')
%section
  %table.table
    %thead
      %tr
        %th{scope: 'col'} ID
        %th{scope: 'col'} Plot
        %th{scope: 'col'} Collection Date
        %th{scope: 'col'} Collection Method
        %th{scope: 'col'} pH
        %th{scope: 'col'} Temperature
        %th{scope: 'col'} Moisture
        %th{scope: 'col'} N
        %th{scope: 'col'} P
        %th{scope: 'col'} K
        %th{scope: 'col'}
    %tbody
      - @soil_samples.each do |sample|
        %tr
          %td= sample.id
          %td= sample.plot
          %td= sample.collected_on
          %td= sample.collection_method
          %td= sample.ph_level
          %td= sample.temperature
          %td= sample.moisture
          %td= nutrient_table_data(sample, 'Nitrogen')
          %td= nutrient_table_data(sample, 'Phosphorus')
          %td= nutrient_table_data(sample, 'Potassium')
          %td
            = link_to('view', sample, title: "Details of soil sample #{sample.id}")
            = link_to('edit', edit_soil_sample_path(sample), title: 'Edit sample') if sample.editable_by?(current_user)
