- content_for_title("Soil Sample ##{@soil_sample.id}")
- content_for(:subnav) do
  .btn-public
    = button_to('« Samples', soil_samples_path, class: 'button primary', method: 'get')
  - if @soil_sample.editable_by?(current_user)
    .btn-admin
      = link_to 'Edit', edit_soil_sample_path(@soil_sample), class: 'btn', title: 'Edit sample'
      - if current_user&.admin?
        = link_to 'Delete', @soil_sample, method: :delete, data: { confirm: "Delete soil sample #{@soil_sample.id}?" }, class: 'btn btn-danger', title: 'Delete sample'
.content
  .info
    %h2.heading#table-heading Information
    %table.table#vertical-table
      %thead
        %th.citation.italic{colspan: '2'} Last updated #{last_updated(@soil_sample)} by #{@soil_sample.user}
      %tbody
        %tr
          %th{scope: 'row'} Collection date
          %td= @soil_sample.collected_on
        %tr
          %th{scope: 'row'} Collection method
          %td= @soil_sample.collection_method
        %tr
          %th{scope: 'row'} Plot
          %td= @soil_sample.plot
        %tr
          %th{scope: 'row'} pH
          %td= @soil_sample.ph_level
        %tr
          %th{scope: 'row'} Temperature
          %td= @soil_sample.temperature
        %tr
          %th{scope: 'row'} Moisture
          %td= @soil_sample.moisture
        %tr
          %th{scope: 'row'} Nitrogen
          %td= @soil_sample.nutrients.find{ |n| n.name == 'Nitrogen'}&.level
        %tr
          %th{scope: 'row'} Phosphorus
          %td= @soil_sample.nutrients.find{ |n| n.name == 'Phosphorus'}&.level
        %tr
          %th{scope: 'row'} Potassium
          %td= @soil_sample.nutrients.find{ |n| n.name == 'Potassium'}&.level
