- content_for_title('Mycorrhizal Fungi Samples')
- content_for(:subnav) do
  = link_to('Add Mycorrhizal Fungi Sample', new_mycorrhizal_fungi_sample_path, class: 'btn btn-primary', title: 'Add a new mycorrhizal fungi sample')
%ul.indexing
  - @mycorrhizal_fungi_samples.each do |sample|
    %li
      %h3= link_to "Sample ##{sample.id}", sample, title: "Details of mycorrhizal fungi sample #{sample.id}"
      %h4= sample.to_s
      %p= link_to('edit', edit_mycorrhizal_fungi_sample_path(sample), title: 'Edit sample') if current_user&.admin?
