- content_for_title("Mycorrhizal Fungi Sample ##{@mycorrhizal_fungi_sample.id}")
- content_for(:subnav) do
  .btn-public
    = link_to('« Samples', mycorrhizal_fungi_samples_path, class: 'button primary', method: 'get')
  - if @mycorrhizal_fungi_sample.editable_by?(current_user)
    .btn-admin
      = link_to(content_tag(:i, '', :class => "icon-edit"), edit_mycorrhizal_fungi_sample_path(@mycorrhizal_fungi_sample), class: 'btn-icon')
      - if current_user&.admin?
        = link_to(content_tag(:i, '', :class => "icon-trash"), @mycorrhizal_fungi_sample, method: :delete, data: { confirm: "Delete mycorrhizal fungi sample #{@mycorrhizal_fungi_sample.id}?" }, class: 'btn-icon')
.content
  = render 'layouts/image_carousel', entity: @mycorrhizal_fungi_sample
  .info
    %h2.heading#table-heading Information
    %table.table#vertical-table
      %thead
        %th.citation.italic{colspan: '2'}= last_updated(@mycorrhizal_fungi_sample)
      %tbody
        %tr
          %th{scope: 'row'} Collection Date
          %td= @mycorrhizal_fungi_sample.datestamp
        %tr
          %th{scope: 'row'} Plot
          %td= link_to("#{@mycorrhizal_fungi_sample.plot}", @mycorrhizal_fungi_sample.plot)
        %tr
          %th{scope: 'row'} Sample Length
          %td= @mycorrhizal_fungi_sample.length
        %tr
          %th{scope: 'row'} Magnification
          %td= @mycorrhizal_fungi_sample.magnification
        %tr
          %th{scope: 'row'} Vesicle Count
          %td= @mycorrhizal_fungi_sample.vesicle_count
        %tr
          %th{scope: 'row'} Arbuscule Count
          %td= @mycorrhizal_fungi_sample.arbuscule_count
        %tr
          %th{scope: 'row'} Visible Hyphae
          %td= @mycorrhizal_fungi_sample.visible_hyphae ? 'Yes' : 'No'
        %tr
          %th{scope: 'row'} Hyphae Coverage
          %td= @mycorrhizal_fungi_sample.hyphae_coverage || 'unmeasured'
