- content_for_title("Mycorrhizal Fungi Sample ##{@mycorrhizal_fungi_sample.id}")
- content_for(:subnav) do
  = link_to '« Back to Mycorrhizal fungi samples', mycorrhizal_fungi_samples_path, class: 'btn btn-primary', title: 'Mycorrhizal fungi samples'
  - if @mycorrhizal_fungi_sample.editable_by?(current_user)
    .btn-group
      = link_to 'Edit', edit_mycorrhizal_fungi_sample_path(@mycorrhizal_fungi_sample), class: 'btn', title: 'Edit sample'
      - if current_user&.admin?
        = link_to 'Delete', @mycorrhizal_fungi_sample, method: :delete, data: { confirm: "Delete mycorrhizal fungi sample #{@mycorrhizal_fungi_sample.id}?" }, class: 'btn btn-danger', title: 'Delete sample'
%section
  .col-md-5
    %h2 Photo
    = image_tag @mycorrhizal_fungi_sample.photo.variant(resize: "200x200"), alt: "Photo of #{@mycorrhizal_fungi_sample}"
  .col-md-7
    %h2 Sample Information
    %table.table
      %thead
        %th{colspan: '2'}= @mycorrhizal_fungi_sample
      %tbody
        %tr
          %th.col-md-4{scope: 'row'} Collection date
          %td= @mycorrhizal_fungi_sample.collected_on
        %tr
          %th.col-md-4{scope: 'row'} Sample length
          %td= @mycorrhizal_fungi_sample.length
        %tr
          %th.col-md-4{scope: 'row'} Magnification
          %td= @mycorrhizal_fungi_sample.magnification
        %tr
          %th.col-md-4{scope: 'row'} Vesicle Count
          %td= @mycorrhizal_fungi_sample.vesicle_count
        %tr
          %th.col-md-4{scope: 'row'} Arbuscule Count
          %td= @mycorrhizal_fungi_sample.arbuscule_count
        %tr
          %th.col-md-4{scope: 'row'} Visible Hyphae
          %td= @mycorrhizal_fungi_sample.visible_hyphae ? 'Yes' : 'No'
        %tr
          %th.col-md-4{scope: 'row'} Hyphae Coverage
          %td= @mycorrhizal_fungi_sample.hyphae_coverage || 'unmeasured'
