.row
  .col-md-6.col-md-offset-3
    = form_for(@plot, html: { multipart: true }) do |form|
      = form_errors_for(@plot)
      = form.label :plot_id, "Plot ID"
      = form.text_field :plot_id, class: 'form-control'
      = form.label :featured_plant_id
      = form.collection_select :featured_plant_id, @plants, :id, :common_name, include_blank: 'Choose one'
      = form.label :location_description
      = form.text_area :location_description, class: 'form-control'
      = form.label :latitude
      = form.text_field :latitude, class: 'form-control'
      = form.label :longitude
      = form.text_field :longitude, class: 'form-control'
      = form.label :elevation, 'Elevation (ft)'
      = form.text_field :elevation, class: 'form-control'
      = form.label :area, 'Area (sq ft)'
      = form.text_field :area, class: 'form-control'
      = form.label :aspect
      = form.text_field :aspect, class: 'form-control'
      = form.label :origin
      = form.text_field :origin, class: 'form-control'
      = form.label :inoculated, "Inoculated?"
      = form.check_box :inoculated, class: 'form-control'
      = form.label :initial_planting_date
      = form.text_field :initial_planting_date, class: 'form-control'
      = form.label :initial_succession
      = form.text_field :initial_succession, class: 'form-control'
      = form.label :photo
      = image_tag(@plot.photo[0].variant(resize: "200x200"), alt: "Photo of #{@plot.photo}") unless @plot.new_record? if @plot.photo.attached?
      = form.file_field :photo, multiple: true, class: 'form-control'
      = form.submit class: 'btn btn-primary'
