<%= form_for(plot) do |f| %>
  <% if plot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plot.errors.count, "error") %> prohibited this plot from being saved:</h2>

      <ul>
      <% plot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :plot_id %>
    <%= f.number_field :plot_id %>
  </div>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="field">
    <%= f.label :elevation %>
    <%= f.text_field :elevation %>
  </div>

  <div class="field">
    <%= f.label :area %>
    <%= f.text_field :area %>
  </div>

  <div class="field">
    <%= f.label :location_description %>
    <%= f.text_area :location_description %>
  </div>

  <div class="field">
    <%= f.label :aspect %>
    <%= f.text_field :aspect %>
  </div>

  <div class="field">
    <%= f.label :origin %>
    <%= f.text_field :origin %>
  </div>

  <div class="field">
    <%= f.label :inoculated %>
    <%= f.check_box :inoculated %>
  </div>

  <div class="field">
    <%= f.label :initial_planting_date %>
    <%= f.text_field :initial_planting_date %>
  </div>

  <div class="field">
    <%= f.label :initial_succession %>
    <%= f.text_field :initial_succession %>
  </div>

  <div class="field">
    <%= f.label :photo %>
    <%= f.text_field :photo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
