- provide(:title, "Edit Plot ##{@plot.plot_id}")
%h1 Edit Plot
.row
  .col-md-6.col-md-offset-3
    = form_for(@plot, html: { multipart: true }) do |form|
      = form.label :plot_id, "Plot ID"
      = form.text_field :plot_id, class: 'form-control'
      = form.label :location_description
      = form.text_area :location_description, class: 'form-control'
      = form.label :latitude
      = form.text_field :latitude, class: 'form-control'
      = form.label :longitude
      = form.text_field :longitude, class: 'form-control'
      = form.label :elevation
      = form.text_field :elevation, class: 'form-control'
      = form.label :area
      = form.text_field :area, class: 'form-control'
      = form.label :aspect
      = form.text_field :aspect, class: 'form-control'
      = form.label :origin
      = form.text_field :origin, class: 'form-control'
      = form.label :inoculated, "Inoculated?"
      = form.check_box :inoculated, class: 'form-control'
      = form.label :initial_planting_date
      = form.text_field :initial_planting_date, class: 'form-control'
      = form.label :initial_succession
      = form.text_field :initial_succession, class: 'form-control'
      = form.label :photo
      = form.file_field :photo, class: 'form-control'

      = form.submit "Save changes", class: "btn btn-primary"