- provide(:title, "All Plots")
%h1 All Plots
%ul.indexing
  - @plots.each do |plot|
    %li.photo_list
      .col-md-1
        = link_to image_tag(plot.photo.url(:thumbnail)), plot
      .col-md-8
        %h3= link_to "Plot ##{plot.plot_id}", plot
        - if logged_in?
          - if admin?(current_user)
            %p= link_to "edit", edit_plot_path(plot)
- if logged_in?
  - if admin?(current_user)
    = link_to "Add Plot", new_plot_path, class: "btn btn-primary add-btn"
