<p id="notice"><%= notice %></p>

<h1>Plots</h1>

<table>
  <thead>
    <tr>
      <th>Plot</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Elevation</th>
      <th>Area</th>
      <th>Location description</th>
      <th>Aspect</th>
      <th>Origin</th>
      <th>Inoculated</th>
      <th>Initial planting date</th>
      <th>Initial succession</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plots.each do |plot| %>
      <tr>
        <td><%= plot.plot_id %></td>
        <td><%= plot.latitude %></td>
        <td><%= plot.longitude %></td>
        <td><%= plot.elevation %></td>
        <td><%= plot.area %></td>
        <td><%= plot.location_description %></td>
        <td><%= plot.aspect %></td>
        <td><%= plot.origin %></td>
        <td><%= plot.inoculated %></td>
        <td><%= plot.initial_planting_date %></td>
        <td><%= plot.initial_succession %></td>
        <td><%= plot.photo %></td>
        <td><%= link_to 'Show', plot %></td>
        <td><%= link_to 'Edit', edit_plot_path(plot) %></td>
        <td><%= link_to 'Destroy', plot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plot', new_plot_path %>
