- provide(:title, "Plot ##{@plot.plot_id}")
.row
  %aside.col-md-3
    %section
      %h1 Plot ##{@plot.plot_id}
      %hr
      %p Featured Plant: #{ link_to_featured_plant(@plot) }
      %p Description: #{@plot.location_description}
      %p Latitude: #{@plot.latitude}
      %p Longitude: #{@plot.longitude}
      %p Elevation: #{@plot.elevation}
      %p Area: #{@plot.area}
      %p Aspect: #{@plot.aspect}
      %p Origin: #{@plot.origin}
      %p Inoculated? #{@plot.inoculated ? "Yes" : "No"}
      %p Initial planting date: #{@plot.initial_planting_date}
      %p Initial succession: #{@plot.initial_succession}
      - if logged_in?
        - if admin?(current_user)
          .btn-group
            = link_to "Edit", edit_plot_path(@plot), class: "btn btn-primary edit-btn"
            = link_to "Delete", @plot, method: :delete, data: { confirm: "Delete Plot ##{@plot.plot_id}?" }, class: " btn btn-primary edit-btn danger-btn"
          .btn.download-btn
            = link_to "Download QR-Code", { :action => "download_qr" }, 'data-turbolinks' => false
  .col-md-9
    %section
      .plot_photo= image_tag @plot.photo.url(:default)