- content_for_title("Plot ##{@plot.plot_id}")
- content_for(:subnav) do
  = link_to '« Plots', plots_path, class: 'btn btn-primary', title: 'List of all plots'
  - if current_user&.admin?
    = link_to 'Edit', edit_plot_path(@plot), class: 'btn btn-primary', title: "Edit #{@plot}"
    = link_to 'Download QR Code', { action: 'download_qr' }, 'data-turbolinks': false, class: 'btn btn-secondary', title: "QR Code for #{@plot}"
    = link_to 'Delete', @plot, method: :delete, data: { confirm: "Delete Plot ##{@plot.plot_id}?" }, class: 'btn-tertiary', title: "Delete #{@plot}"
%section
  .col-md-5
    %h2 Photo
    - if @plot.photo.length > 1
      #plotCarousel.carousel{"data-interval" => "false"}
        .carousel-inner
          - @plot.photo.each_with_index do |image, index|
            %div{:class => "item #{index == 0 ? 'active' : ''}"}
              = image_tag(@plot.photo[index].variant(resize: "350x350"), class: 'carousel_photos', alt: "Photo of #{@plot.photo}") unless @plot.new_record?
              %end
              = link_to 'Delete Photo', delete_plot_image_attachment_plot_url(image.id), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }
      %a.carousel-control-prev{"data-slide" => "prev", :href => "#plotCarousel", :role => "button"}
        %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.carousel-control-next{"data-slide" => "next", :href => "#plotCarousel", :role => "button"}
        %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
        %span.sr-only Next
    - elsif @plot.photo.length == 1
      = image_tag(@plot.photo[0].variant(resize: "350x350"), class: 'carousel_photos', alt: "Photo of #{@plot.photo}") unless @plot.new_record?
  .col-md-7
    %h2 Plot Information
    %p= @plot.formatted_location_description
    %table.table
      %thead
        %th{colspan: '2'} Updated #{@plot.updated_at&.to_formatted_s(:long)  }
      %tbody
        %tr
          %th.col-md-4{scope: 'row'} Featured Plant
          %td= link_to_featured_plant(@plot)
        %tr
          %th.col-md-4{scope: 'row'} Latitude
          %td= @plot.latitude || 'unmeasured'
        %tr
          %th.col-md-4{scope: 'row'} Longitude
          %td= @plot.longitude || 'unmeasured'
        %tr
          %th.col-md-4{scope: 'row'} Elevation
          %td= @plot.elevation ? "#{@plot.elevation} ft." : 'unmeasured'
        %tr
          %th.col-md-4{scope: 'row'} Area
          %td= @plot.area ? "#{@plot.area} sq. ft." : 'unmeasured'
        %tr
          %th.col-md-4{scope: 'row'} Aspect
          %td= @plot.aspect
        %tr
          %th.col-md-4{scope: 'row'} Origin
          %td= @plot.origin
        %tr
          %th.col-md-4{scope: 'row'} Inoculated?
          %td= @plot.inoculated ? 'Yes' : 'No'
        %tr
          %th.col-md-4{scope: 'row'} Initial planting date
          %td= @plot.initial_planting_date
        %tr
          %th.col-md-4{scope: 'row'} Initial succession
          %td= @plot.initial_succession
- if @plot.featured_plant
  %section
    %h2{:class => 'center'} Featured Plant: #{@plot.featured_plant.common_name}
    .col-md-5
      %h3 Photo
      - if @plot.featured_plant.photo.length > 1
        #featured_plantCarousel.carousel{"data-interval" => "false"}
          .carousel-inner
            - @plot.featured_plant.photo.each_with_index do |image, index|
              %div{:class => "item #{index == 0 ? 'active' : ''}"}
                = image_tag(@plot.featured_plant.photo[index].variant(resize: "350x350"), class: 'carousel_photos', alt: "Photo of #{@plot.featured_plant.photo}") unless @plot.new_record?
                %end
        %a.carousel-control-prev{"data-slide" => "prev", :href => "#featured_plantCarousel", :role => "button"}
          %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
          %span.sr-only Previous
        %a.carousel-control-next{"data-slide" => "next", :href => "#featured_plantCarousel", :role => "button"}
          %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
          %span.sr-only Next
      - elsif @plot.featured_plant.photo.length == 1
        = image_tag(@plot.featured_plant.photo[0].variant(resize: "350x350"), alt: "Photo of #{@plot.featured_plant.photo}") unless @plot.new_record?

    .col-md-7
      %h3
        %em
          = @plot.featured_plant.scientific_name.capitalize
        - if @plot.featured_plant.invasive
          (invasive)
      %p= @plot.featured_plant.description
      %p.citation= @plot.featured_plant.citation
      %table.table
        %thead
          %tr
            %th{scope: 'col'} Habitat Type
            %th{scope: 'col'} Tolerance
            %th{scope: 'col'} Invasive?
        %tbody
          %tr
            %td= @plot.featured_plant.habitat_type
            %td= @plot.featured_plant.tolerance
            %td{class: ('bg-danger' if @plot.featured_plant.invasive)}= @plot.featured_plant.invasive? ? 'Yes' : 'No'
