- provide(:title, "Plot ##{@plot.plot_id}")
= link_to '« Back to plots', plots_path, class: 'btn btn-primary back', title: 'List of all plots'
.row
  %aside.col-md-3
    %section
      %h1 Plot ##{@plot.plot_id}
      %hr
      %p Featured Plant: #{ link_to_featured_plant(@plot) }
      %p Description: #{@plot.formatted_location_description}
      %p Latitude: #{@plot.latitude || 'unmeasured'}
      %p Longitude: #{@plot.longitude || 'unmeasured'}
      %p Elevation: #{@plot.elevation || 'unmeasured'}
      %p Area: #{@plot.area || 'unmeasured'}
      %p Aspect: #{@plot.aspect}
      %p Origin: #{@plot.origin}
      %p Inoculated? #{@plot.inoculated ? 'Yes' : 'No'}
      %p Initial planting date: #{@plot.initial_planting_date}
      %p Initial succession: #{@plot.initial_succession}
      - if current_user&.admin?
        .btn-group
          = link_to 'Edit', edit_plot_path(@plot), class: 'btn btn-primary edit-btn', title: "Edit #{@plot}"
          = link_to 'Delete', @plot, method: :delete, data: { confirm: "Delete Plot ##{@plot.plot_id}?" }, class: 'btn btn-primary edit-btn danger-btn', title: "Delete #{@plot}"
        .btn.download-btn
          = link_to 'Download QR-Code', { action: 'download_qr' }, 'data-turbolinks': false, title: "QR-Code for #{@plot}"
  .col-md-9
    %section
      .plot_photo= image_tag @plot.photo.url(:default), alt: "Photo of #{@plot}"
