%h1 Listing species_variation_observations

%table
  %thead
    %tr
      %th Observed on
      %th User
      %th Plot
      %th Plant
      %th Average height
      %th Average width
      %th Description
      %th Photo
      %th
      %th
      %th

  %tbody
    - @species_variation_observations.each do |species_variation_observation|
      %tr
        %td= species_variation_observation.observed_on
        %td= species_variation_observation.user
        %td= species_variation_observation.plot
        %td= species_variation_observation.plant
        %td= species_variation_observation.average_height
        %td= species_variation_observation.average_width
        %td= species_variation_observation.description
        %td= species_variation_observation.photo
        %td= link_to 'Show', species_variation_observation
        %td= link_to 'Edit', edit_species_variation_observation_path(species_variation_observation)
        %td= link_to 'Destroy', species_variation_observation, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Species variation observation', new_species_variation_observation_path
