- content_for_title('Species Variation Observations')
- content_for(:subnav) do
  = link_to('Add Observation', new_species_variation_observation_path, class: 'button primary', title: 'Add a new species variation observation', method: 'get')

= paginate @species_variation_observations

%section
  %table.table.list
    %thead
      %tr
        %th{scope: 'col'} ID
        %th{scope: 'col'} Observation Date
        %th{scope: 'col'} Plot
        %th{scope: 'col'} Plant
        %th{scope: 'col'} Average Height
        %th{scope: 'col'} Average Width
        %th{scope: 'col'} Qualitative Observation
    %tbody
      - @species_variation_observations.each do |obs|
        %tr{:onclick => "location.href='#{url_for(obs)}'"}
          %td= obs.id
          %td= obs.datestamp
          %td= obs.plot
          %td= obs.plant.common_name.titleize
          %td= obs.average_height
          %td= obs.average_width
          %td= obs.description

= paginate @species_variation_observations
