- content_for_title("Species Variation Observation ##{@species_variation_observation.id}")
- content_for(:subnav) do
  .btn-public
    = button_to('« Samples', species_variation_observations_path, class: 'button primary', method: 'get')
  - if @species_variation_observation.editable_by?(current_user)
    .btn-admin
      = link_to 'Edit', edit_species_variation_observation_path(@species_variation_observation), class: 'btn', title: 'Edit sample'
      - if current_user&.admin?
        = link_to 'Delete', @species_variation_observation, method: :delete, data: { confirm: "Delete macroinvertebrate sample #{@species_variation_observation.id}?" }, class: 'btn btn-danger', title: 'Delete sample'
.content
  = render 'layouts/image_carousel', entity: @species_variation_observation
  .info
    %h2.heading#table-heading Information
    %table.table#vertical-table
      %thead
        %th.citation.italic{colspan: '2'} Last updated #{last_updated(@species_variation_observation)} by #{@species_variation_observation.user}
      %tbody
        %tr
          %th{scope: 'row'} Observation date
          %td= @species_variation_observation.observed_on
        %tr
          %th{scope: 'row'} Plot
          %td= @species_variation_observation.plot
        %tr
          %th{scope: 'row'} Plant
          %td= @species_variation_observation.plant
        %tr
          %th{scope: 'row'} Observer
          %td= @species_variation_observation.user
        %tr
          %th{scope: 'row'} Average height
          %td= "#{@species_variation_observation.average_height} cm"
        %tr
          %th{scope: 'row'} Average width
          %td= "#{@species_variation_observation.average_width} cm"
        %tr
          %th{scope: 'row'} Qualitative observations
          %td= @species_variation_observation.description
