- content_for_title("Species Variation Observation ##{@species_variation_observation.id}")
- content_for(:subnav) do
  .btn-public
    = link_to('« Observations', species_variation_observations_path, class: 'button primary', method: 'get')
  - if @species_variation_observation.editable_by?(current_user)
    .btn-admin
      = link_to(content_tag(:i, '', :class => "icon-edit"), edit_species_variation_observation_path(@species_variation_observation), class: 'btn-icon')
      - if current_user&.admin?
        = link_to(content_tag(:i, '', :class => "icon-trash"), @species_variation_observation, method: :delete, data: { confirm: "Delete species variation observation #{@species_variation_observation.id}?" }, class: 'btn-icon')
.content
  = render 'layouts/image_carousel', entity: @species_variation_observation
  .info
    %h2.heading#table-heading Information
    %table.table#vertical-table
      %thead
        %th.citation.italic{colspan: '2'}= last_updated(@species_variation_observation)
      %tbody
        %tr
          %th{scope: 'row'} Observation Date
          %td= @species_variation_observation.datestamp
        %tr
          %th{scope: 'row'} Plot
          %td= link_to("#{@species_variation_observation.plot}", @species_variation_observation.plot)
        %tr
          %th{scope: 'row'} Plant
          %td= link_to("#{@species_variation_observation.plant.common_name.titleize}", @species_variation_observation.plant)
        %tr
          %th{scope: 'row'} Observer
          %td= @species_variation_observation.user
        %tr
          %th{scope: 'row'} Average Height
          %td= "#{@species_variation_observation.average_height} cm"
        %tr
          %th{scope: 'row'} Average Width
          %td= "#{@species_variation_observation.average_width} cm"
        %tr
          %th{scope: 'row'} Qualitative Observations
          %td= @species_variation_observation.description
