- content_for_title('Macroinvertebrate Samples')
- content_for(:subnav) do
  = link_to('Add Sample', new_macroinvertebrate_sample_path, class: 'button primary', title: 'Add a new macroinvertebrate sample', method: 'get')

= paginate @macroinvertebrate_samples

%section
  %table.table.list
    %thead
      %tr
        %th{scope: 'col'} ID
        %th{scope: 'col'} Collection Date
        %th{scope: 'col'} Plot
        %th{scope: 'col'} Location in Plot
        %th{scope: 'col'} Phylum
        %th{scope: 'col'} Quantity
        %th{scope: 'col'} Ecosystem Service
    %tbody
      - @macroinvertebrate_samples.each do |sample|
        %tr{:onclick => "location.href='#{url_for(sample)}'"}
          %td= sample.id
          %td= sample.datestamp
          %td= sample.plot
          %td= sample.location_within_plot
          %td= sample.phylum
          %td= sample.quantity
          %td= sample.ecosystem_service

= paginate @macroinvertebrate_samples
