- content_for_title("Macroinvertebrate Sample ##{@macroinvertebrate_sample.id}")
- content_for(:subnav) do
  .btn-public
    = button_to('« Samples', macroinvertebrate_samples_path, class: 'button primary', method: 'get')
  - if @macroinvertebrate_sample.editable_by?(current_user)
    .btn-admin
      = link_to 'Edit', edit_macroinvertebrate_sample_path(@macroinvertebrate_sample), class: 'btn', title: 'Edit sample'
      - if current_user&.admin?
        = link_to 'Delete', @macroinvertebrate_sample, method: :delete, data: { confirm: "Delete macroinvertebrate sample #{@macroinvertebrate_sample.id}?" }, class: 'btn btn-danger', title: 'Delete sample'
.content
  = render 'layouts/image_carousel', entity: @macroinvertebrate_sample
  .info
    %h2.heading#table-heading Information
    %table.table#vertical-table
      %thead
        %th.citation.italic{colspan: '2'} Last updated #{last_updated(@macroinvertebrate_sample)} by #{@macroinvertebrate_sample.user}
      %tbody
        %tr
          %th{scope: 'row'} Collection date
          %td= @macroinvertebrate_sample.collected_on
        %tr
          %th{scope: 'row'} Plot
          %td= @macroinvertebrate_sample.plot
        %tr
          %th{scope: 'row'} Location within plot
          %td= @macroinvertebrate_sample.location_within_plot
        %tr
          %th{scope: 'row'} Phylum
          %td= @macroinvertebrate_sample.phylum
        %tr
          %th{scope: 'row'} Quantity
          %td= @macroinvertebrate_sample.quantity
        %tr
          %th{scope: 'row'} Ecosystem service
          %td= @macroinvertebrate_sample.ecosystem_service
