.row
  .col-md-6.col-md-offset-3
    = form_for(@user) do |form|
      = form_errors_for(@user)
      = form.label :name
      = form.text_field :name, class: 'form-control'
      = form.label :email
      = form.email_field :email, class: 'form-control'
      = form.label :password
      = form.password_field :password, class: 'form-control'
      = form.label :password_confirmation, "Confirm Password"
      = form.password_field :password_confirmation, class: 'form-control'
      = recaptcha_tags if @user.new_record?
      = form.submit class: "btn btn-primary"
