- content_for_title('All Users')

= paginate @users

%section.small-table
  %table.table.list#users
    %tbody
      - @users.each do |user|
        %tr{:onclick => "location.href='#{url_for(user)}'"}
          %td
            = user.name.titleize
            = '(admin)' if user.admin?

= paginate @users