- content_for_title(@user.name)
- content_for(:subnav) do
  = edit_user_link(current_user, @user)
%h2.center= @user.email
%hr
%section
  %h2 My Biodiversity Reports
  %ul.index
    - @user.biodiversity_reports.each do |report|
      %li
        %h3= link_to report.to_s, report, title: "Details of #{report}"
        %p= report.byline
