- content_for_title('Tree Samples')
- content_for(:subnav) do
  = link_to('Add Tree Sample', new_tree_sample_path, class: 'btn btn-primary', title: 'Add a new tree sample')
  = link_to('Download as CSV', tree_samples_path(format: :csv), class: 'btn', title: 'Download as CSV')

%section
  %h2 Sample Information
  %table.table
    %thead
      %tr
        %th{scope: 'col'} Id
        %th{scope: 'col'} Collection Date
        %th{scope: 'col'} Plot
        %th{scope: 'col'} Species
        %th{scope: 'col'} Tag
        %th{scope: 'col'} Growth Stage
        %th{scope: 'col'} DBH (cm)
        %th{scope: 'col'} Lower Canopy Height (m)
        %th{scope: 'col'} Upper Canopy Height (m)
        %th{scope: 'col'} Latitude (°)
        %th{scope: 'col'} Longitude (°)
        %th{scope: 'col'}
    %tbody
      - @tree_samples.each do |sample|
        %tr
          %td= sample.id
          %td= sample.collected_on
          %td= sample.plot
          %td= sample.plant
          %td= sample.tag_number
          %td= sample.growth_stage.capitalize
          %td= sample.dbh
          %td= sample.lower_canopy_height
          %td= sample.upper_canopy_height
          %td= sample.latitude
          %td= sample.longitude
          %td
            = link_to 'view', sample, title: "Details of tree sample #{sample.id}"
            = link_to('edit', edit_tree_sample_path(sample), title: 'Edit sample') if sample.editable_by?(current_user)
