.form
  = form_for(@plant, html: { multipart: true }) do |form|
    = form_errors_for(@plant)
    .content
      .caption
        %h3 Information 
        %p.italic Fill in general details about the plant
      .input
        .data
          = form.label :common_name
          = form.text_field :common_name, class: 'form-control'
        .data
          = form.label :scientific_name
          = form.text_field :scientific_name, class: 'form-control'
        .data
          = form.label :description
          = form.text_area :description, class: 'form-control'
        .data
          = form.label :citation
          = form.text_field :citation, class: 'form-control'
        .data.checkbox-container
          = form.label :invasive, 'Invasive?'
          = form.check_box :invasive
        .data
          = form.label :habitat_type
          = form.text_field :habitat_type, class: 'form-control'
        .data
          = form.label :tolerance
          = form.text_field :tolerance, class: 'form-control'
    .content
      .caption
        %h3 Photos
        %p.italic Include pictures for easier plant identification
      .input
        .gallery#form
          - @plant.photo.each_with_index do |image, index|
            .overlay-container
              .img-square{ :style => "background-image: url(#{rails_blob_url(photo(@plant, index))})", :alt => "Photo of #{image}" }
              = link_to("Delete", delete_image_attachment_plot_url(image), method: :delete, class: 'button delete overlay')
        = form.file_field :photo, multiple: true
    .btn-form
      = button_to('Cancel', @plant, name: 'cancel', class: 'button secondary', method: 'get')
      = form.submit class: 'button primary submit'
