.row
  .col-md-6.col-md-offset-3
    = form_for(@plant, html: {multipart: true}) do |form|
      = form_errors_for(@plant)
      = form.label :common_name
      = form.text_field :common_name, class: 'form-control'
      = form.label :scientific_name
      = form.text_field :scientific_name, class: 'form-control'
      = form.label :description
      = form.text_area :description, class: 'form-control', rows: 5
      = form.label :citation
      = form.text_field :citation, class: 'form-control'
      = form.label :invasive, 'Invasive?'
      = form.check_box(:invasive)
      = form.label :habitat_type
      = form.text_field :habitat_type, class: 'form-control'
      = form.label :tolerance
      = form.text_field :tolerance, class: 'form-control'
      = form.label :photo, class: 'form-label-photo'
      = image_tag @plant.photo.variant(resize: "200x200"), alt: "Photo of #{@plant}"
      = form.file_field :photo, class: 'form-control'
      = form.submit class: 'btn btn-primary'
