- provide(:title, "Edit #{@plant.common_name}")
%h1 Edit Plant
.row
  .col-md-6.col-md-offset-3
    = form_for(@plant) do |form|
      = form.label :common_name
      = form.text_field :common_name, class: 'form-control'
      = form.label :scientific_name
      = form.text_field :scientific_name, class: 'form-control'
      = form.label :habitat_type
      = form.text_field :habitat_type, class: 'form-control'
      = form.label :sunlight_tolerance
      = form.text_field :sunlight_tolerance, class: 'form-control'
      = form.submit "Save changes", class: "btn btn-primary"