- provide(:title, "Edit #{@plant.common_name}")
%h1 Edit Plant
.row
  .col-md-6.col-md-offset-3
    = form_for(@plant, html: {multipart: true}) do |form|
      = render partial: 'shared/error_messages', locals: { object: @plant }
      = form.label :common_name
      = form.text_field :common_name, class: 'form-control'
      = form.label :scientific_name
      = form.text_field :scientific_name, class: 'form-control'
      = form.label :description
      = form.text_area :description, class: 'form-control', rows: 5
      = form.label :habitat_type
      = form.text_field :habitat_type, class: 'form-control'
      = form.label :sunlight_tolerance
      = form.text_field :sunlight_tolerance, class: 'form-control'
      = form.label :photo, class: 'form-label-photo'
      = image_tag @plant.photo.url
      = form.file_field :photo, class: 'form-control'
      = form.submit "Save changes", class: "btn btn-primary"