- content_for_title('All Plants')
- content_for(:subnav) do
  = button_to('Add Plant', new_plant_path, class: 'button primary', title: 'Add a new plant', method: 'get') if current_user&.admin?
.gallery
  - @plants.each do |plant|
    .tile#plant
      .img-tile
        = image_tag(photo(plant))
      .desc
        %h3= plant.common_name.capitalize.truncate_words(2)
        %p.italic= plant.scientific_name.capitalize.truncate_words(2)
      = link_to "", plant, title: "Details of #{plant}", class: "tile-link"
