- provide(:title, "All Plants")
%h1 All Plants
%ul.indexing
  - @plants.each do |plant|
    %li.photo_list
      .col-md-1
        = link_to image_tag(plant.photo.url(:thumbnail)), plant
      .col-md-8
        %h3= link_to plant.common_name.capitalize, plant
        %h4
          %em= plant.scientific_name.capitalize
        - if logged_in?
          - if admin?(current_user)
            %p= link_to "edit", edit_plant_path(plant)
- if logged_in?
  - if admin?(current_user)
    = link_to "Add Plant", new_plant_path, class: "btn btn-primary add-btn"
