- content_for_title('All Plants')
- content_for(:subnav) do
  = link_to('Add Plant', new_plant_path, class: 'btn btn-primary', title: 'Add a new plant') if current_user&.admin?
.tiles
  - @plants.each do |plant|
    .gallery
      .img
        = link_to image_tag(plant.photo.variant resize: "200x200"), plant, title: "Details of #{plant}" if plant.photo.attached?
      .desc
        %h3= link_to plant.common_name.capitalize, plant, title: "Details of #{plant}"
        %h4
          %em= plant.scientific_name.capitalize
        %p= link_to('edit', edit_plant_path(plant), title: "Edit #{plant}") if current_user&.admin?
