- content_for_title(@plant.common_name.capitalize)
- content_for(:subnav) do
  = link_to '« Back to plants', plants_path, class: 'btn btn-primary', title: 'List of all plants'
  - if current_user&.admin?
    .btn-group
      = link_to 'Edit', edit_plant_path(@plant), class: 'btn', title: "Edit #{@plant}"
      = link_to 'Delete', @plant, method: :delete, data: { confirm: "Delete #{@plant.common_name}?" }, class: 'btn btn-danger', title: "Delete #{@plant}"
    = link_to 'Download QR Code', { action: 'download_qr' }, 'data-turbolinks': false, class: 'btn', title: "QR Code for #{@plant}"
.row
  %aside.col-md-12
    %section
      %h2
        %em= @plant.scientific_name.capitalize
      - if @plant.invasive
        %h2.invasive Invasive!
      %hr
    %section
      .col-md-3
        .plant_photo= image_tag @plant.photo.url(:default), alt: "Photo of #{@plant}"
      .col-md-8
        %section
          %p
            %strong Description:
            = @plant.description
          .citation= @plant.citation
          %p
            %strong Habitat type:
            = @plant.habitat_type
          %p
            %strong Tolerance:
            = @plant.tolerance
