- provide(:title, @plant.common_name)
.row
  %aside.col-md-12
    %section
      %h1= @plant.common_name
      %h2
        %em= @plant.scientific_name
      %hr
    %section
      .col-md-3
        .plant_photo= image_tag @plant.photo.url(:default)
      .col-md-8
        %section
          %p= @plant.description
          %p
            %strong Habitat type:
            = @plant.habitat_type
          %p
            %strong Tolerance:
            = @plant.tolerance
    - if logged_in?        
      - if admin?(current_user)
        .btn-group
          = link_to "Edit", edit_plant_path(@plant), class: "btn btn-primary edit-btn right-btn"
          = link_to "Delete", @plant, method: :delete, data: { confirm: "Delete #{@plant.common_name}?" }, class: " btn btn-primary edit-btn danger-btn"
