- content_for_title(@plant.common_name.capitalize)
- content_for(:subnav) do
  .btn-public
    = button_to('« Plants', plants_path, class: 'button primary', title: 'List of all plants', method: 'get')
    = link_to(content_tag(:i, '', :class => "icon-qr-code"), { action: 'download_qr' }, 'data-turbolinks': false, class: 'btn-icon', title: "Download QR Code for #{@plant}")
  - if current_user&.admin?
    .btn-admin
      = link_to(content_tag(:i, '', :class => "icon-edit"), edit_plant_path(@plant), class: 'btn-icon', title: "Edit #{@plant}")
      = link_to(content_tag(:i, '', :class => "icon-delete2"), @plant, method: :delete, data: { confirm: "Delete #{@plant.common_name}?" }, class: 'btn-icon', title: "Delete #{@plant}")
.content
  - if @plant.photo.length == 0
    .img-square.default
      = image_tag(photo(@plant), alt: "Photo of #{@plant.photo}") unless @plant.new_record?
  - elsif @plant.photo.length == 1
    .img-square{ :style => "background-image: url(#{rails_blob_url(photo(@plant))})" }
  - else
    #plantCarousel.carousel{"data-interval" => "false"}
      .carousel-inner
        - @plant.photo.each_with_index do |image, index|
          %div{:class => "item #{index == 0 ? 'active' : ''}"}
            = image_tag(@plant.photo[index].variant(resize: "350x350"), class: 'carousel_photos', alt: "Photo of #{@plant.photo}") unless @plant.new_record?
            = link_to 'Delete Photo', delete_plant_image_attachment_plant_url(image.id), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }
            %end
    %a.carousel-control-prev{"data-slide" => "prev", :href => "#plantCarousel", :role => "button"}
      %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.carousel-control-next{"data-slide" => "next", :href => "#plantCarousel", :role => "button"}
      %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
      %span.sr-only Next
  .info
    %h2.heading.light-italic
      = @plant.scientific_name.capitalize
      - if @plant.invasive
        (invasive)
    %p.no-margin= @plant.description
    %p.citation.italic= @plant.citation
    %table.table
      %thead
        %th{scope: 'col'} Habitat Type
        %th{scope: 'col'} Tolerance
        %th{scope: 'col'} Invasive?
      %tbody
        %td= @plant.habitat_type
        %td= @plant.tolerance
        %td{class: ('danger' if @plant.invasive)}= @plant.invasive? ? 'Yes' : 'No'
-# %section
-#   .col-md-5
-#     %h2 Photo
-#     - if @plant.photo.length > 1
-#       #plantCarousel.carousel{"data-interval" => "false"}
-#         .carousel-inner
-#           - @plant.photo.each_with_index do |image, index|
-#             %div{:class => "item #{index == 0 ? 'active' : ''}"}
-#               = image_tag(@plant.photo[index].variant(resize: "350x350"), class: 'carousel_photos', alt: "Photo of #{@plant.photo}") unless @plant.new_record?
-#               = link_to 'Delete Photo', delete_plant_image_attachment_plant_url(image.id), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }
-#               %end
-#       %a.carousel-control-prev{"data-slide" => "prev", :href => "#plantCarousel", :role => "button"}
-#         %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
-#         %span.sr-only Previous
-#       %a.carousel-control-next{"data-slide" => "next", :href => "#plantCarousel", :role => "button"}
-#         %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
-#         %span.sr-only Next
-#     - elsif @plant.photo.length == 1
-#       = image_tag(@plant.photo[0].variant(resize: "350x350"), alt: "Photo of #{@plant.photo}") unless @plant.new_record?
-#     - elsif @plant.photo.length == 0
-#       = image_tag(photo(@plant))
-#   .col-md-7
-#     %h2
-#       %em
-#         = @plant.scientific_name.capitalize
-#       - if @plant.invasive
-#         (invasive)
-#     %p= @plant.description
-#     %p.citation= @plant.citation
-#     %table.table
-#       %thead
-#         %tr
-#           %th{scope: 'col'} Habitat Type
-#           %th{scope: 'col'} Tolerance
-#           %th{scope: 'col'} Invasive?
-#       %tbody
-#         %tr
-#           %td= @plant.habitat_type
-#           %td= @plant.tolerance
-#           %td{class: ('bg-danger' if @plant.invasive)}= @plant.invasive? ? 'Yes' : 'No'
