- provide(:title, @plant.common_name)
.row
  %aside.col-md-12
    %section
      %h1= @plant.common_name
      %h2
        %em= @plant.scientific_name
    %section
      .col-md-4
        .plant_photo= image_tag @plant.photo.url(:default)
      .col-md-8
        %section
          %p= @plant.description
          %p
            %strong Habitat type:
            = @plant.habitat_type
          %p
            %strong Tolerance:
            = @plant.tolerance
    %section
      .col-md-1
        = link_to "Edit", edit_plant_path(@plant), class: "btn btn-primary edit-btn"
      .col-md-1
        = link_to "Delete", @plant, method: :delete, data: { confirm: "Delete #{@plant.common_name}?" }, class: " btn btn-primary edit-btn danger-btn inline-btn"
