- content_for_title("Lichen Sample ##{@lichen_sample.id}")
- content_for(:subnav) do
  .btn-public
    = link_to('« Samples', lichen_samples_path, class: 'button primary', method: 'get')
  - if @lichen_sample.editable_by?(current_user)
    .btn-admin
      = link_to(content_tag(:i, '', :class => "icon-edit"), edit_lichen_sample_path(@lichen_sample), class: 'btn-icon')
      - if current_user&.admin?
        = link_to(content_tag(:i, '', :class => "icon-trash"), @lichen_sample, method: :delete, data: { confirm: "Delete lichen sample #{@lichen_sample.id}?" }, class: 'btn-icon')
.content
  = render 'layouts/image_carousel', entity: @lichen_sample
  .info
    %h2.heading#table-heading Information
    %table.table#vertical-table
      %thead
        %th.citation.italic{colspan: '2'}= last_updated(@lichen_sample)
      %tbody
        %tr
          %th{scope: 'row'} Collection Date
          %td= @lichen_sample.datestamp
        %tr
          %th{scope: 'row'} Plot
          %td= link_to("#{@lichen_sample.plot}", @lichen_sample.plot)
        %tr
          %th{scope: 'row'} Location in Plot
          %td= @lichen_sample.location_within_plot
        %tr
          %th{scope: 'row'} Description
          %td= @lichen_sample.description
