- content_for_title("Lichen Sample ##{@lichen_sample.id}")
- content_for(:subnav) do
  = link_to '« Back to Lichen samples', lichen_samples_path, class: 'btn btn-primary', title: 'Lichen samples'
  - if current_user&.admin?
    .btn-group
      = link_to 'Edit', edit_lichen_sample_path(@lichen_sample), class: 'btn', title: 'Edit sample'
      = link_to 'Delete', @lichen_sample, method: :delete, data: { confirm: "Delete lichen sample #{@lichen_sample.id}?" }, class: 'btn btn-danger', title: 'Delete sample'
%section
  .col-md-5
    %h2 Photo
    = image_tag @lichen_sample.photo.url(:default), alt: "Photo of #{@lichen_sample}"
  .col-md-7
    %h2 Sample Information
    %table.table
      %thead
        %th{colspan: '2'}= @lichen_sample
      %tbody
        %tr
          %th.col-md-4{scope: 'row'} Collection date
          %td= @lichen_sample.collected_on
        %tr
          %th.col-md-4{scope: 'row'} Plot
          %td= @lichen_sample.plot
        %tr
          %th.col-md-4{scope: 'row'} Location within plot
          %td= @lichen_sample.location_within_plot
        %tr
          %th.col-md-4{scope: 'row'} Description
          %td= @lichen_sample.description
