%p Common name: #{plant_sample.plant.common_name}
%p Abundance: #{plant_sample.abundance}
%p Percent Cover: #{plant_sample.percent_cover}
.plot_photo= image_tag plant_sample.photo.url(:default), alt: "Photo of #{plant_sample.plant.common_name}"
