- provide(:title, "Plant Samples")
%h1 Plant Samples
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Plot
        %th Species
        %th Date
        %th Time
        %th Abundance
        %th Percent Cover
        %th Biomass Estimate
    %tbody
      - @plant_samples.each do |sample|
        %tr
          %td= sample.biodiversity_report.plot.name unless sample.biodiversity_report.nil?
          %td= sample.plant.common_name unless sample.plant.nil?
          %td= sample.biodiversity_report.measured_on unless sample.biodiversity_report.nil?
          %td= sample.biodiversity_report.measured_at unless sample.biodiversity_report.nil?
          %td= sample.abundance
          %td= sample.percent_cover
          %td= sample.biomass_estimate