- content_for_title('Plant Samples')
- content_for(:subnav) do
  = link_to 'New Plant Sample', new_plant_sample_path, class: 'btn btn-primary'
  = link_to 'Export All Samples', export_path(format: 'csv'), class: 'btn btn-primary-outline'
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Plot
        %th Species
        %th Date
        %th Time
        %th Temperature
        %th Species Richness
        %th Diversity Index
        %th Abundance
        %th Percent Cover
    %tbody
      - @plant_samples.each do |sample|
        %tr
          %td= sample.biodiversity_report.plot.name unless sample.biodiversity_report.nil?
          %td= sample&.plant.common_name
          %td= sample&.biodiversity_report.measured_on.to_s(:long)
          %td= sample&.biodiversity_report.measured_at.to_s(:ampm)
          %td= sample&.biodiversity_report.temperature
          %td= sample&.biodiversity_report.species_richness
          %td= sample&.biodiversity_report.diversity_index
          %td= sample.abundance
          %td= sample.percent_cover
