- content_for_title('Non-Vascular Plant Samples')
- content_for(:subnav) do
  = link_to('Add Sample', new_nonvascular_plant_sample_path, class: 'button primary', title: 'Add a new non-vascular plant sample', method: 'get')

= paginate @nonvascular_plant_samples

%section
  %table.table.list
    %thead
      %tr
        %th{scope: 'col'} ID
        %th{scope: 'col'} Collection Date
        %th{scope: 'col'} Plot
        %th{scope: 'col'} Location in Plot
        %th{scope: 'col'} Description
    %tbody
      - @nonvascular_plant_samples.each do |sample|
        %tr{:onclick => "location.href='#{url_for(sample)}'"}
          %td= sample.id
          %td= sample.datestamp
          %td= sample.plot
          %td= sample.location_within_plot
          %td= sample.description

= paginate @nonvascular_plant_samples
