- content_for_title('Non-Vascular Plant Samples')
- content_for(:subnav) do
  = link_to('Add Non-Vascular Plant Sample', new_nonvascular_plant_sample_path, class: 'btn btn-primary', title: 'Add a new non-vascular plant sample')

%section
  %h2 Sample Information
  %table.table
    %thead
      %tr
        %th{scope: 'col'} Id
        %th{scope: 'col'} Plot
        %th{scope: 'col'} Collection date
        %th{scope: 'col'} Location within plot
        %th{scope: 'col'} Description
        %th{scope: 'col'}
    %tbody
      - @nonvascular_plant_samples.each do |sample|
        %tr
          %td= sample.id
          %td= sample.plot
          %td= sample.collected_on
          %td= sample.location_within_plot
          %td= sample.description
          %td
            = link_to 'view', sample, title: "Details of non-vascular plant sample #{sample.id}"
            = link_to('edit', edit_nonvascular_plant_sample_path(sample), title: 'Edit sample') if current_user&.admin?
