- content_for_title("Non-Vascular Plant Sample ##{@nonvascular_plant_sample.id}")
- content_for(:subnav) do
  = link_to '« Back to Non-Vascular Plant samples', nonvascular_plant_samples_path, class: 'btn btn-primary', title: 'Non-Vascular plant samples'
  - if @nonvascular_plant_sample.editable_by?(current_user)
    .btn-group
      = link_to 'Edit', edit_nonvascular_plant_sample_path(@nonvascular_plant_sample), class: 'btn', title: 'Edit sample'
      - if current_user&.admin?
        = link_to 'Delete', @nonvascular_plant_sample, method: :delete, data: { confirm: "Delete non-vascular plant sample #{@nonvascular_plant_sample.id}?" }, class: 'btn btn-danger', title: 'Delete sample'
%section
  .col-md-5
    %h2 Photo
    = image_tag @nonvascular_plant_sample.photo.variant(resize: "200x200"), alt: "Photo of #{@nonvascular_plant_sample}"
  .col-md-7
    %h2 Sample Information
    %table.table
      %thead
        %th{colspan: '2'}= @nonvascular_plant_sample
      %tbody
        %tr
          %th.col-md-4{scope: 'row'} Collection date
          %td= @nonvascular_plant_sample.collected_on
        %tr
          %th.col-md-4{scope: 'row'} Plot
          %td= @nonvascular_plant_sample.plot
        %tr
          %th.col-md-4{scope: 'row'} Location within plot
          %td= @nonvascular_plant_sample.location_within_plot
        %tr
          %th.col-md-4{scope: 'row'} Description
          %td= @nonvascular_plant_sample.description
