.row
  .col-md-6.col-md-offset-3
    = form_for(@biodiversity_report, html: {multipart: true}) do |form|
      = form_errors_for(@biodiversity_report)
      = form.label :plot_id, 'Plot'
      = form.collection_select :plot_id, @plots, :id, :name, :include_blank => "Choose one"
      = form.label :measured_on, 'Date'
      = form.date_field :measured_on, class: 'form-control'
      = form.label :measured_at, 'Time'
      = form.time_field :measured_at, class: 'form-control'
      = form.label :temperature
      = form.text_field :temperature, class: 'form-control'
      = form.label :biomass_estimate
      = form.text_field :biomass_estimate, class: 'form-control'
      = form.label :species_richness
      = form.text_field :species_richness, class: 'form-control'
      = form.label :photo
      = form.file_field :photo, class: 'form-control'
      %hr
      %h3 Soil Sample
      %p= link_to_toggle_soil_sample_fields(@biodiversity_report.soil_sample)
      #soil_sample_fields.collapse{ class: show_css_class(@biodiversity_report.soil_sample) }
        = form.fields_for :soil_sample do |fields|
          = render partial: 'soil_sample_fields', locals: { f: fields }
      %hr
      %h3 Plant Samples
      = form.fields_for :plant_samples do |plant_fields|
        = render partial: 'plant_sample_fields', locals: { f: plant_fields }
      = link_to_add_fields 'Add plant sample', form, :plant_samples

      = form.submit "Add biodiversity report", class: "btn btn-primary"
