%fieldset.macroinvertebrate_sample
  = f.hidden_field :_destroy
  = f.label :phylum
  = f.text_field :phylum, class: 'form-control'
  = f.label :location_within_plot
  = f.text_field :location_within_plot, class: 'form-control'
  = f.label :quantity
  = f.text_field :quantity, class: 'form-control'
  = f.label :ecosystem_service
  = f.select(:ecosystem_service, MacroinvertebrateSample::ECOSYSTEM_SERVICES, include_blank: 'Choose one')
  = f.label :photo
  = f.file_field :photo, class: 'form-control'