%fieldset.plant_sample
  = f.label :plant_id
  = f.collection_select :plant_id, @plants, :id, :common_name, :include_blank => "Choose one"
  = f.label :abundance
  = f.text_field :abundance, class: 'form-control'
  = f.label :percent_cover
  = f.text_field :percent_cover, class: 'form-control'
  = f.label :biomass_estimate
  = f.text_field :biomass_estimate, class: 'form-control'
  = f.label :photo
  = f.file_field :photo, class: 'form-control'
  %p= link_to 'Remove plant sample', '#', class: 'remove_fields'
  %hr