%fieldset
  = f.hidden_field :_destroy
  = f.label :collection_method
  = f.select :collection_method, SoilSample.collection_methods.keys, include_blank: true
  = f.label :ph_level, 'pH level'
  = f.text_field :ph_level, class: 'form-control'
  = f.label :temperature
  = f.text_field :temperature, class: 'form-control'
  = f.label :moisture
  = f.text_field :moisture, class: 'form-control'
