- content_for_title('Biodiversity Reports')
- content_for(:subnav) do
  = link_to('Create a Biodiversity Report', new_biodiversity_report_path, class: 'btn btn-primary')

= paginate @biodiversity_reports

%section
  %h2 Report Information
  %table.table
    %thead
      %tr
        %th{scope: 'col'} Id
        %th{scope: 'col'} Measured on
        %th{scope: 'col'} Plot
        %th{scope: 'col'} Temperature
        %th{scope: 'col'} Species richness
        %th{scope: 'col'} Diversity index
        %th{scope: 'col'} Species evenness
        %th{scope: 'col'} Biomass estimate
        %th{scope: 'col'}
    %tbody
      - @biodiversity_reports.each do |report|
        %tr
          %td= report.id
          %td= report.measured_on.to_s(:long)
          %td= report.plot
          %td= report.temperature
          %td= report.species_richness
          %td= report.diversity_index
          %td= report.species_evenness
          %td= report.biomass_estimate
          %td
            = link_to 'view', report, title: "Details of report #{report.id}"
            = link_to('edit', edit_biodiversity_report_path(report), title: 'Edit report') if report.editable_by?(current_user)

= paginate @biodiversity_reports