- content_for_title('Biodiversity Reports')
%ul.indexing
  - @biodiversity_reports.each do |report|
    %li.photo_list
      .col-md-8
        %h3= link_to report.to_s, report, title: "Details of #{report}"
        %p= report.byline
= paginate @biodiversity_reports
= link_to("Create a Biodiversity Report", new_biodiversity_report_path, class: "btn btn-primary add-btn") if logged_in?
