- content_for_title(@biodiversity_report.to_s)
- content_for(:subnav) do
  = link_to '« Back to reports', :back, class: 'btn btn-primary', title: 'List of biodiversity reports'
  - if @biodiversity_report.editable_by?(current_user)
    .btn-group
      = link_to 'Edit', edit_biodiversity_report_path(@biodiversity_report), class: 'btn', title: "Edit #{@biodiversity_report}"
      - if current_user&.admin?
        = link_to 'Delete', @biodiversity_report, method: :delete, data: { confirm: 'Delete Report?' }, class: 'btn btn-danger', title: "Delete #{@biodiversity_report}"

%section
  .row
    .col-md-5
      %h2 Photo
      = image_tag @biodiversity_report.photo.variant(resize: "200x200"), alt: "Photo of #{@biodiversity_report.plot}" if @biodiversity_report.photo.attached?
    .col-md-7
      %h2.center= "by #{@biodiversity_report.author}"
      %table.table
        %thead
          %th{colspan: '2'}= @biodiversity_report.byline
        %tbody
          %tr
            %th.col-md-4{scope: 'row'} Collection Date
            %td= @biodiversity_report.measured_on.to_formatted_s(:long)
          %tr
            %th.col-md-4{scope: 'row'} Collection time
            %td= @biodiversity_report.measured_at.to_formatted_s(:ampm)
          %tr
            %th.col-md-4{scope: 'row'} Author
            %td= @biodiversity_report.author
          %tr
            %th.col-md-4{scope: 'row'} Plot
            %td
              = link_to "#{@biodiversity_report.plot}", @biodiversity_report.plot
          %tr
            %th.col-md-4{scope: 'row'} Temperature
            %td= @biodiversity_report.temperature
          %tr
            %th.col-md-4{scope: 'row'} Species richness
            %td= @biodiversity_report.species_richness
          %tr
            %th.col-md-4{scope: 'row'} Diversity index
            %td= @biodiversity_report.diversity_index
          %tr
            %th.col-md-4{scope: 'row'} Species evenness
            %td= @biodiversity_report.species_evenness
          %tr
            %th.col-md-4{scope: 'row'} Biomass estimate
            %td= @biodiversity_report.biomass_estimate

- if @biodiversity_reports
  .space
  %h2.center Past Biodiversity Report Data       
  .info
    %section
      %table.table
        %thead
          %tr
            %th{scope: 'col'} Plot
            %th{scope: 'col'} Measured On
            %th{scope: 'col'} Temperature
            %th{scope: 'col'} Species Richness
            %th{scope: 'col'} Diversity Index
        %tbody
          - @biodiversity_reports.each do |report| 
            -if report.plot_id == @biodiversity_report.plot_id && report.id != @biodiversity_report.id && report.measured_on < @biodiversity_report.measured_on
              %tr
                %td= link_to "#{report.plot}", report.plot
                %td= report.measured_on.to_formatted_s(:long)
                %td= report.temperature
                %td= report.species_richness
                %td= report.diversity_index