- provide(:title, 'Biodiversity Report')
.row
  %aside.col-md-6
    %section
      %h1= "Biodiversity Report - #{@biodiversity_report.date.strftime("%B %d, %Y")}"
      %h2= "- #{@biodiversity_report.user.name}"
      %hr
      %p Time: #{@biodiversity_report.time.strftime("%I:%M %p")}
      %p Temperature: #{@biodiversity_report.temperature}
      %p Biomass Estimate: #{@biodiversity_report.biomass_estimate}
      %p Species Richness: #{@biodiversity_report.species_richness}
      
      %hr
      %h3 Plant samples
      - @biodiversity_report.plant_samples.each do |ps|
        %p Common name: #{ps.plant.common_name}
        %p Abundance: #{ps.abundance}
        %p Percent Cover: #{ps.percent_cover}
        %p Biomass Estimate: #{ps.biomass_estimate}
        .plot_photo= image_tag ps.photo.url(:default)
        %hr

      %h3 Soil sample  
      %p PH Level: #{@biodiversity_report.soil_sample.ph_level}
      %p Temperature: #{@biodiversity_report.soil_sample.temperature}
      - if logged_in?
        - if current_user?(@biodiversity_report.user) or admin?(current_user)
          .btn-group
            = link_to "Edit", edit_biodiversity_report_path(@biodiversity_report), class: "btn btn-primary edit-btn"
            = link_to "Delete", @biodiversity_report, method: :delete, data: { confirm: "Delete Report?" }, class: "btn btn-primary edit-btn danger-btn"
  .col-md-9
    %section
      .plot_photo= image_tag @biodiversity_report.photo.url(:default)