- content_for_title(@biodiversity_report.to_s)
- content_for(:subnav) do
  = link_to '« Back to reports', :back, class: 'btn btn-primary', title: 'List of biodiversity reports'
  - if @biodiversity_report.editable_by?(current_user)
    .btn-group
      = link_to 'Edit', edit_biodiversity_report_path(@biodiversity_report), class: 'btn', title: "Edit #{@biodiversity_report}"
      - if current_user&.admin?
        = link_to 'Delete', @biodiversity_report, method: :delete, data: { confirm: 'Delete Report?' }, class: 'btn btn-danger', title: "Delete #{@biodiversity_report}"
%h2.center= @biodiversity_report.byline
%section
  .col-md-5
    %h3= @biodiversity_report.plot
    %p Temperature: #{@biodiversity_report.temperature}
    %p Species Richness: #{@biodiversity_report.species_richness}
    %p Species Evenness: #{@biodiversity_report.species_evenness}
    %p Shannon-Wiener Diversity Index: #{@biodiversity_report.diversity_index}
  .col-md-7
    = image_tag @biodiversity_report.photo.url(:default), alt: "Photo of #{@biodiversity_report.plot}"
  .col-md-12
    %hr
    %h3 Soil Sample
    - if @biodiversity_report.soil_sample
      %p Collection Method: #{@biodiversity_report.soil_sample.collection_method}
      %p pH Level: #{@biodiversity_report.soil_sample.ph_level}
      %p Temperature: #{@biodiversity_report.soil_sample.temperature}
      %p Moisture: #{@biodiversity_report.soil_sample.moisture}
    - else
      %p No soil sample
    %hr
    %h3 Lichen Sample
    - if @biodiversity_report.lichen_sample
      %p Location within plot: #{@biodiversity_report.lichen_sample.location_within_plot}
      %p Description: #{@biodiversity_report.lichen_sample.description}
      = image_tag @biodiversity_report.lichen_sample.photo.url(:default), alt: 'Photo of lichen sample'
    - else
      %p No lichen sample
    %hr
    %h3 Macroinvertebrate Samples
    = render(@biodiversity_report.macroinvertebrate_samples) || '<p>No macroinvertebrate samples</p>'.html_safe
    %hr
    %h3 Plant Samples
    = render(@biodiversity_report.plant_samples) || '<p>No plant samples</p>'.html_safe
