- provide(:title, 'Biodiversity Report')
.row
  %aside.col-md-6
    %section
      %h1= @biodiversity_report
      %h2= @biodiversity_report.byline
      %hr
      %h3= @biodiversity_report.plot.name
      %p Temperature: #{@biodiversity_report.temperature}
      %p Biomass Estimate: #{@biodiversity_report.biomass_estimate}
      %p Species Richness: #{@biodiversity_report.species_richness}
      %p Shannon-Wiener Diversity Index: #{@biodiversity_report.diversity_index }
      %hr
      %h3 Soil Sample
      - if @biodiversity_report.soil_sample
        %p pH Level: #{@biodiversity_report.soil_sample.ph_level}
        %p Temperature: #{@biodiversity_report.soil_sample.temperature}
      - else
        %p No soil sample
      %hr
      %h3 Plant Samples
      = render(@biodiversity_report.plant_samples) || "<p>No plant samples</p>".html_safe
      - if @biodiversity_report.editable_by?(current_user)
        .btn-group
          = link_to "Edit", edit_biodiversity_report_path(@biodiversity_report), class: "btn btn-primary edit-btn", title: "Edit #{@biodiversity_report}"
          = link_to "Delete", @biodiversity_report, method: :delete, data: { confirm: "Delete Report?" }, class: "btn btn-primary edit-btn danger-btn", title: "Delete #{@biodiversity_report}"
  .col-md-6
    %section
      .plot_photo= image_tag @biodiversity_report.photo.url(:default), alt: "Photo of #{@biodiversity_report.plot}"
