- content_for_title('Fungi Samples')
- content_for(:subnav) do
  = link_to('Add Sample', new_fungi_sample_path, class: 'button primary', title: 'Add a new fungi sample', method: 'get')

= paginate @fungi_samples

%section
  %table.table.list
    %thead
      %tr
        %th{scope: 'col'} ID
        %th{scope: 'col'} Collection Date
        %th{scope: 'col'} Plot
        %th{scope: 'col'} Location in Plot
        %th{scope: 'col'} Size
        %th{scope: 'col'} Description
    %tbody
      - @fungi_samples.each do |sample|
        %tr{:onclick => "location.href='#{url_for(sample)}'"}
          %td= sample.id
          %td= sample.datestamp
          %td= sample.plot
          %td= sample.location_within_plot
          %td= sample.size
          %td= sample.description

= paginate @fungi_samples
