- content_for_title('Fungi Samples')
- content_for(:subnav) do
  = button_to('Add Sample', new_fungi_sample_path, class: 'button primary', title: 'Add a new fungi sample', method: 'get')

%section
  %h2 Sample Information
  %table.table
    %thead
      %tr
        %th{scope: 'col'} Id
        %th{scope: 'col'} Collection date
        %th{scope: 'col'} Location within plot
        %th{scope: 'col'} Size
        %th{scope: 'col'} Description
        %th{scope: 'col'}
    %tbody
      - @fungi_samples.each do |sample|
        %tr
          %td= sample.id
          %td= sample.collected_on
          %td= sample.location_within_plot
          %td= sample.size
          %td= sample.description
          %td
            = link_to 'view', sample, title: "Details of fungi sample #{sample.id}"
            = link_to('edit', edit_fungi_sample_path(sample), title: 'Edit sample') if sample.editable_by?(current_user)
