!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
    %title= full_title(yield(:title))
    = favicon_link_tag 'favicon.ico'
    %link{href: 'https://fonts.googleapis.com/css?family=Gudea', rel: 'stylesheet'}/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = yield :javascript
    = render 'layouts/shim'
  %body{class: "#{controller.controller_name} #{controller.action_name}"}
    .container
      = render 'layouts/navbar'
      #body
        %nav.subnav= yield(:subnav)
        = yield(:screen_title)
        - flash.each do |message_type, message|
          .alert{class: "alert-#{message_type}"}= message
        = yield
      = render 'layouts/footer'
      -# = debug(params) if Rails.env.development?
